<div class="page_box">

<div class="span">
<h1>Discover our cute dogs</h1>
<div class="button">
<%= link_to "Add dog", new_dog_path(@dog), class: 'btn' %>
</div>
</div>

<div class="card-dogs">
  <% @dogs.each do |dog| %>
      <%= link_to dog_path(dog) do %>
        <div class="card-dog">
          <% if dog.photo.attached? %>
            <%= cl_image_tag dog.photo.key, height: 200, width: 200, crop: :fill %>
          <% else %>
            <%= image_tag "defaultimage.png" , height: 200, width: 200, crop: :fill %>
          <% end %>
          <div class="card-dog-infos">
            <h2> <%= dog.name %> </h2>
          </div>
        </div>
      <% end %>
  <% end %>

</div>



</div>
