<div class="page_box">

<div class="span">
<h1>Discover our cute dogs</h1>
 <div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: dogs_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: "btn " %>
    <% end %>
  </div>
</div>
<div class="button">
<%= link_to "Add dog", new_dog_path(@dog), class: 'btn' %>
</div>
</div>
s
<div class="card-dogs">
  <% if @dogs.any? %>
    <% @dogs.each do |dog| %>
      <%= link_to dog_path(dog) do %>
        <div class="card-dog">
          <% if dog.photo.attached? %>
            <%= cl_image_tag dog.photo.key, height: 200, width: 200, crop: :fill %>
          <% else %>
            <%= image_tag "defaultimage.png" , height: 200, width: 200, crop: :fill %>
          <% end %>
          <div class="card-dog-infos">
            <div class="btn-name">
              <h4> <%= dog.name %> </h4>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <em>Sorry, no dogs found.</em>
  <% end %>
</div>



</div>
