 <div class="container">
  <h1>Add a dog</h1>

  <%= simple_form_for [@user, @dog] do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :description %>
<<<<<<< HEAD
  <%= f.input :photo, as: :file %>
  <%= f.submit %>
=======
  <%= f.submit class:'btn' %>
>>>>>>> 39964bfc8f8f6c27f6afa22b208ec4864c4b17d9
  <% end %>

  <%= link_to "Back", dogs_path, class: 'btn' %>

</div>
