<div class="container">
  <div class="card_show">
      <h1><%= @dog.name %></h1>
      <p><h5>Address:</h5> <%= @dog.address %></p>
      <p><h5>Description:</h5> <%= @dog.description %></p>

      <div>
        <%= link_to "Add new dog", new_dog_path(@dog), class: 'btn' %>
        <%= link_to "Back", dogs_path, class: 'btn' %> |
        <%= link_to "Edit", edit_dog_path(@dog), class: 'btn' %> |
        <%= link_to "Delete",
          dog_path(@dog), class: 'btn',
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
      </div>
  </div>
</div>
