<h2><%= @dog.name %></h2>
<p><%= @dog.description %></p>
<p><%= @dog.address %></p>

  <%= link_to "New dog", new_dog_path(@list), class: 'btn btn-primary' %>
  <%= link_to "Back", dogs_path, class: 'btn btn-primary' %> |
  <%= link_to "Delete",
    dog_path(@dog), class: 'btn btn-primary',
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
