<div class="box">

  <h1>My Bookings</h1>
  <% current_user.bookings.each do |booking| %>
      <div class="div">
    <div class="card-box">
      <div class="text">
        <h5><%= booking.dog.name %></h5>
        <h6><%= booking.date %></h6>
        <h6><%= booking.dog.address %></h6>
      </div>
      <%= link_to dog_path(booking.dog) do %>
        <div class="img-dog">
        <% if booking.dog.photo.attached? %>
        <%= cl_image_tag booking.dog.photo.key, crop: :fill %>
        <% else %>
        <%= image_tag "defaultimage.png" , crop: :fill%>
        <% end %>
        </div>
    </div>
        <% end %>
        </div>
      <% end %>

</div>
